.ibm-grid-checker__cols,
.ibm-grid-checker__rows,
.ibm-grid-checker__state {
  pointer-events: none;
  position: fixed;
  z-index: 9999;
}

.ibm-grid-checker__cols,
.ibm-grid-checker__rows {
  bottom: 0;
  justify-content: space-between;
  left: 0;
  top: 0;
  width: 100vw;
}

.ibm-grid-checker__state {
  background: #000;
  box-sizing: border-box;
  bottom: 0;
  color: #fff;
  font-family: "ibm-grid-checker-plex";
  margin: 0;
  padding: 3.125vw 6.25vw;
  right: 0;
  width: 50vw;
}

.ibm-grid-checker__cols {
  display: flex;
  margin: auto;
  max-width: 1650px;
}

.ibm-grid-checker__rows {
  flex-direction: column;
}

.ibm-grid-checker__cols__unit,
.ibm-grid-checker__rows__unit {
  flex: 1;
}

.ibm-grid-checker__cols__unit  {
  border-right: 1px solid #eaeaea;
  opacity: .25;
}

.ibm-grid-checker__rows__unit  {
  border-bottom: 1px solid #eaeaea;
  height: calc(100vw / 64);
}

.ibm-grid-checker__cols__unit:nth-child(n+6):nth-child(-n+29),
.ibm-grid-checker__cols__unit:nth-child(n+38):nth-child(-n+61) {
  background: #b4b4b4;
}

.ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+6):nth-child(-n+29),
.ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+38):nth-child(-n+61) {
  background: none;
}


.ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+6):nth-child(-n+13),
.ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+22):nth-child(-n+29),
.ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+38):nth-child(-n+45),
.ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+54):nth-child(-n+61) {
  background: #b4b4b4;
}

.ibm-grid-checker__cols__unit--outside {
  display: none;
}

@media (min-width: 640px) {
  .ibm-grid-checker__state {
    padding: 1.5625vw 3.125vw;
    width: 25vw;
  }

  .ibm-grid-checker__cols__unit:nth-child(n+6):nth-child(-n+29),
  .ibm-grid-checker__cols__unit:nth-child(n+38):nth-child(-n+61) {
    background: none;
  }


  .ibm-grid-checker__cols__unit:nth-child(n+4):nth-child(-n+15),
  .ibm-grid-checker__cols__unit:nth-child(n+20):nth-child(-n+31),
  .ibm-grid-checker__cols__unit:nth-child(n+36):nth-child(-n+47),
  .ibm-grid-checker__cols__unit:nth-child(n+52):nth-child(-n+63) {
    background: #b4b4b4;
  }
  
  
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+4):nth-child(-n+15),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+20):nth-child(-n+31),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+36):nth-child(-n+47),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+52):nth-child(-n+63) {
    background: none;
  }

  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+4):nth-child(-n+7),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+12):nth-child(-n+15),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+20):nth-child(-n+23),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+28):nth-child(-n+31),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+36):nth-child(-n+39),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+44):nth-child(-n+47),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+52):nth-child(-n+55),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+60):nth-child(-n+63) {
    background: #b4b4b4;
  }
}

@media (min-width: 1056px) {
  .ibm-grid-checker__state {
    padding: 1.5151vw 3.0303vw 1.5151vw 1.5151vw;
    width: 13.6363vw;
  }

  .ibm-grid-checker__cols__unit:nth-child(n+4):nth-child(-n+15),
  .ibm-grid-checker__cols__unit:nth-child(n+20):nth-child(-n+31),
  .ibm-grid-checker__cols__unit:nth-child(n+36):nth-child(-n+47),
  .ibm-grid-checker__cols__unit:nth-child(n+52):nth-child(-n+63) {
    background: none;
  }

  .ibm-grid-checker__cols__unit:first-child,
  .ibm-grid-checker__cols__unit:nth-child(n+3):nth-child(-n+8),
  .ibm-grid-checker__cols__unit:nth-child(n+11):nth-child(-n+16),
  .ibm-grid-checker__cols__unit:nth-child(n+19):nth-child(-n+24),
  .ibm-grid-checker__cols__unit:nth-child(n+27):nth-child(-n+32),
  .ibm-grid-checker__cols__unit:nth-child(n+35):nth-child(-n+40),
  .ibm-grid-checker__cols__unit:nth-child(n+43):nth-child(-n+48),
  .ibm-grid-checker__cols__unit:nth-child(n+51):nth-child(-n+56),
  .ibm-grid-checker__cols__unit:nth-child(n+59):nth-child(-n+64),
  .ibm-grid-checker__cols__unit:last-child {
    background: #b4b4b4;
  }

  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+3):nth-child(-n+8),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+11):nth-child(-n+16),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+19):nth-child(-n+24),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+27):nth-child(-n+32),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+35):nth-child(-n+40),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+43):nth-child(-n+48),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+51):nth-child(-n+56),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+59):nth-child(-n+64) {
    background: none;
  }

  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+3):nth-child(-n+4),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+7):nth-child(-n+8),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+11):nth-child(-n+12),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+15):nth-child(-n+16),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+19):nth-child(-n+20),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+23):nth-child(-n+24),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+27):nth-child(-n+28),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+31):nth-child(-n+32),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+35):nth-child(-n+36),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+39):nth-child(-n+40),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+43):nth-child(-n+44),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+47):nth-child(-n+48),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+51):nth-child(-n+52),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+55):nth-child(-n+56),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+59):nth-child(-n+60),
  .ibm-grid-checker__cols--secondary .ibm-grid-checker__cols__unit:nth-child(n+63):nth-child(-n+64) {
    background: #b4b4b4;
  }


  .ibm-grid-checker__cols__unit--outside {
    display: initial;
  }

  .ibm-grid-checker__rows__unit  {
    height: calc(100vw / 66);
    max-height: 25px;
  }
}

@media (min-width: 1650px) {
  .ibm-grid-checker__cols {
    left: 50%;
    transform: translateX(-50%);
  }
}